<!--es
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-term-query.html
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-range-query.html
-->
<properties>
    <property name="queryTracesByCriteria">
        <![CDATA[{
            "sort": [
                {
                    "starttime": {
                        "order": "desc"
                    }
                },
                "_score"
            ],
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationname": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "starttime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            }
        }]]>
    </property>
    <!--
    https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html
    select rpc, avg(elapsed) avg_elapsed, count(1) count from traces where start_time >= #{startTime} and start_time <= #{endTime} GROUP by rpc order by avg_elapsed desc
    -->


    <property name="queryServiceTracesAvgElapsed">
        <![CDATA[
        {
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationname": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "starttime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            },
            "size":0,
              "aggs": {
                "traces": {
                  "terms": {
                    "field": "rpc.keyword",
                    ##"size" : 5,
                    "order": {"elapsed_stats.avg": "desc"}
                  },
                  "aggs":{
                    "elapsed_stats":{
                      "stats":{
                        "field":"elapsed"
                      }
                    }
                  }
                }
              }
        }
        ]]>
    </property>

    <!--
    https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html
    {
    "aggregations": {
        "elapsed_ranges" : {
            "buckets": [
                {
                    "to": 50,
                    "doc_count": 2,
                    "elapsed_stats": {
                        "count": 2,
                        "min": 20,
                        "max": 47,
                        "avg": 33.5,
                        "sum": 67
                    }
                },
                {
                    "from": 50,
                    "to": 100,
                    "doc_count": 4,
                    "elapsed_stats": {
                        "count": 4,
                        "min": 60,
                        "max": 98,
                        "avg": 82.5,
                        "sum": 330
                    }
                },
                {
                    "from": 100,
                    "doc_count": 4,
                    "elapsed_stats": {
                        "count": 4,
                        "min": 134,
                        "max": 367,
                        "avg": 216,
                        "sum": 864
                    }
                }
            ]
        }
    }
   }

    -->
    <property name="queryPeriodsTopN">
        <![CDATA[
        {
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationname": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "starttime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            },
            "size": 0,
            "aggs" : {
                "elapsed_ranges" : {
                    "range" : {
                        "field" : "elapsed",
                        "keyed" : true,
                        "ranges" : [
                            { "key" : "1秒", "to" : 1000 },
                            { "key" : "3秒", "from" : 1000, "to" : 3000 },
                            { "key" : "5秒", "from" : 3000, "to" : 5000 },
                            { "key" : "其他", "from" : 5000 }
                        ]
                    },
                    "aggs" : {
                        "elapsed_stats" : {
                            "stats" : { "field" : "elapsed" }
                        }
                    }
                }
            }

        }
        ]]>
    </property>

</properties>