
.gradle/4.1/fileChanges/last-build.bin
/build/
/.classpath
/.gradle/
/.project
/.settings/
/.idea/
settings.gradle.bak
/bboss-elasticsearch-rest-mongodb/build/
/bboss-elasticsearch-rest-kafka2x/build/
/gradle/wrapper/
/gradlew
/gradlew.bat
