<!--es
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-term-query.html
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-range-query.html
-->
<properties>
    <property name="queryTracesByCriteria">
        <![CDATA[{
            "sort": [
                {
                    "startTime": {
                        "order": "desc"
                    }
                },
                "_score"
            ],
            "_source": [ "startTime", "elapsed" ],
            "docvalue_fields" : ["startTime", "elapsed"],
            "size":10000,
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationName": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            }
        }]]>
    </property>
    <!--
    https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html
    select rpc, avg(elapsed) avg_elapsed, count(1) count from traces where start_time >= #{startTime} and start_time <= #{endTime} GROUP by rpc order by avg_elapsed desc
    -->


    <property name="queryServiceTracesAvgElapsed">
        <![CDATA[
        {
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationName": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            },
            "size":0,
              "aggs": {
                "traces": {
                  "terms": {
                    "field": "rpc.keyword",
                    "size":100,
                    "order": {"elapsed_stats.avg": "desc"}
                  },
                  "aggs":{
                    "elapsed_stats":{
                      "stats":{
                        "field":"elapsed"
                      }
                    }
                  }
                }
              }
        }
        ]]>
    </property>

    <!--
    https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html
    {
    "aggregations": {
        "elapsed_ranges" : {
            "buckets": [
                {
                    "to": 50,
                    "doc_count": 2,
                    "elapsed_stats": {
                        "count": 2,
                        "min": 20,
                        "max": 47,
                        "avg": 33.5,
                        "sum": 67
                    }
                },
                {
                    "from": 50,
                    "to": 100,
                    "doc_count": 4,
                    "elapsed_stats": {
                        "count": 4,
                        "min": 60,
                        "max": 98,
                        "avg": 82.5,
                        "sum": 330
                    }
                },
                {
                    "from": 100,
                    "doc_count": 4,
                    "elapsed_stats": {
                        "count": 4,
                        "min": 134,
                        "max": 367,
                        "avg": 216,
                        "sum": 864
                    }
                }
            ]
        }
    }
   }

    -->
    <property name="queryPeriodsTopN">
        <![CDATA[
        {
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationName": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            },
            "size": 0,
            "aggs" : {
                "elapsed_ranges" : {
                    "range" : {
                        "field" : "elapsed",
                        "keyed" : true,
                        "ranges" : [
                            { "key" : "1秒", "to" : 1000 },
                            { "key" : "3秒", "from" : 1000, "to" : 3000 },
                            { "key" : "5秒", "from" : 3000, "to" : 5000 },
                            { "key" : "5秒以上", "from" : 5000 }
                        ]
                    },
                    "aggs" : {
                        "elapsed_stats" : {
                            "stats" : { "field" : "elapsed"}
                        }
                    }
                }
            }

        }
        ]]>
    </property>
    <property name="queryServiceDetailByRpc">
        <![CDATA[{
            "sort": [
                {
                    "startTime": {
                        "order": "desc"
                    }
                },
                "_score"
            ],
            "size":10000,
            "query": {
                "bool": {
                    "filter": [
                        {"term": {
                            "applicationName": "$application"

                        }},
                        {"term": {

                             "rpc.keyword": "$rpc"
                        }}
                    ],
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            }
        }]]>
    </property>
    <property name="queryServiceByCondition">
        <![CDATA[{
            "sort": [
                {
                    "startTime": {
                        "order": "desc"
                    }
                }
            ],
            #if($lastStartTime > 0)
            "search_after": [$lastStartTime],
            #end
            "size": 100,
            "query": {
                "bool":{
                    "filter": [
                        {"term": {
                            "applicationName": "$application"
                        }}
                        #if($queryStatus.equals("success"))
                          ,
                          {"term": {

                               "err": 0
                          }}
                        #elseif($queryStatus.equals("error"))
                          ,
                          {"term": {

                               "err": 1
                          }}
                        #end
                    ],
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                    #if($queryCondition && !$queryCondition.equals(""))
                     ,
                     "must" : {
                        "multi_match" : {
                          "query" : "$queryCondition",

                          "fields" : [ "agentId", "applicationName" ,"endPoint","params","remoteAddr","rpc","exceptionInfo"]
                        }
                     }
                    #end
                }
            }
        }]]>
    </property>

</properties>