<!--es
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-term-query.html
https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-range-query.html
-->
<properties>
  <!--
    直接引用链路查询模板
  -->
  <!--<property name="querySqlTraces"
            templateFile="esmapper/estrace/ESTracesMapper.xml"
            templateName="queryTracesByCriteria"/>-->
  <property name="querySqlTraces">
    <![CDATA[{
            "sort": [
                {
                    "startTime": {
                        "order": "desc"
                    }
                },
                "_score"
            ],
             "_source": [ "startTime", "sqlEndElapsed" ],
            "docvalue_fields" : ["startTime", "sqlEndElapsed"],
            "size":10000,
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationName": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            }
        }]]>
  </property>
  <property name="queryServiceTracesAvgElapsed">
    <![CDATA[
        {
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationName": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            },
            "size":0,
              "aggs": {
                "traceSqls": {
                  "terms": {
                    "field": "sqlStr.keyword",
                    "size":10000,
                    "order": {"elapsed_stats.avg": "desc"}
                  },
                  "aggs":{
                    "elapsed_stats":{
                      "stats":{
                        "field":"sqlEndElapsed"
                      }
                    }
                  }
                }
              }
        }
        ]]>
  </property>

  <!--
    https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html
    {
    "aggregations": {
        "elapsed_ranges" : {
            "buckets": [
                {
                    "to": 50,
                    "doc_count": 2,
                    "elapsed_stats": {
                        "count": 2,
                        "min": 20,
                        "max": 47,
                        "avg": 33.5,
                        "sum": 67
                    }
                },
                {
                    "from": 50,
                    "to": 100,
                    "doc_count": 4,
                    "elapsed_stats": {
                        "count": 4,
                        "min": 60,
                        "max": 98,
                        "avg": 82.5,
                        "sum": 330
                    }
                },
                {
                    "from": 100,
                    "doc_count": 4,
                    "elapsed_stats": {
                        "count": 4,
                        "min": 134,
                        "max": 367,
                        "avg": 216,
                        "sum": 864
                    }
                }
            ]
        }
    }
   }

    -->
  <property name="queryPeriodsTopN">
    <![CDATA[
        {
            "query": {
                "bool": {
                    "filter": {
                        "term": {
                            "applicationName": "$application"
                        }
                    },
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            },
            "size": 0,
            "aggs" : {
                "elapsed_ranges" : {
                    "range" : {
                        "field" : "sqlEndElapsed",
                        "keyed" : true,
                        "ranges" : [
                            { "key" : "1秒", "to" : 1000 },
                            { "key" : "3秒", "from" : 1000, "to" : 3000 },
                            { "key" : "5秒", "from" : 3000, "to" : 5000 },
                            { "key" : "10秒", "from" : 5000, "to" : 10000 },
                            { "key" : "20秒", "from" : 10000, "to" : 20000 },
                            { "key" : "严重", "from" : 20000}
                        ]
                    },
                    "aggs" : {
                        "elapsed_stats" : {
                            "stats" : { "field" : "sqlEndElapsed"}
                        }
                    }
                }
            }

        }
        ]]>
  </property>

    <property name="queryServiceDetailBySQL">
        <![CDATA[{
            "sort": [
                {
                    "startTime": {
                        "order": "desc"
                    }
                },
                "_score"
            ],
            "size":10000,
            "query": {
                "bool": {
                    "filter": [
                        {"term": {
                            "applicationName": "$application"

                        }},
                        {"term": {

                             "sqlStr.keyword": "$sql"
                        }}
                    ],
                    "must": {
                        "range": {
                            "startTime": {
                                "gte": $startTime,
                                "lt": $endTime
                            }
                        }
                    }
                }
            }
        }]]>
    </property>

  <!--
      查询条件
      -->
  <property name="qcondition">
    <![CDATA[
        "bool": {
            "filter": [
                #if($application && !$application.equals("_all"))
                {"term": {
                    "applicationName": "$application"
                }}
                #end
                #if($queryStatus.equals("success"))
                  #if($application && !$application.equals("_all")),#end
                  {"term": {

                       "err": 0
                  }}
                #elseif($queryStatus.equals("error"))
                  #if($application && !$application.equals("_all")),#end
                  {"term": {

                       "err": 1
                  }}
                #end
            ],
            "must": [
                #if($queryCondition && !$queryCondition.equals(""))
                {
                    "query_string": {
                        "query": "$queryCondition",
                        "analyze_wildcard": true,
                        "all_fields": true
                    }
                },
                #end
                {
                    "range": {
                        "startTime": {
                            "gte": $startTime,
                            "lt": $endTime,
                            "format": "epoch_millis"
                        }
                    }
                }
            ]
        }]]>
  </property>
  <property name="querySQLByCondition">
    <![CDATA[{
            "version": true,
            #if($lastStartTime && $lastStartTime > 0)
                #if($orderBy && $orderBy.equals("elapsed"))
                "search_after": [$lastElapsed,$lastStartTime,"tracesql#$lastId"],
                #else
                "search_after": [$lastStartTime,"tracesql#$lastId"],
                #end
            #end
            "size": $pageSize,
            "sort": [
                 #if($orderBy && $orderBy.equals("elapsed")){"sqlEndElapsed": "desc"},#end
                {"startTime": "desc"},
                {"_uid": "desc"}
            ],
            "query": {
                @{qcondition}
            },
            "_source": {
                "excludes": []
            },
            "highlight": {
                "pre_tags": [
                    "<mark>"
                ],
                "post_tags": [
                    "</mark>"
                ],
                "fields": {
                    "*": {
                        "highlight_query": {
                            @{qcondition}
                        }
                    }
                },
                "fragment_size": 2147483647
            }
        }]]></property>
</properties>